<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{title}}</title>
  <meta name="description" content="{{desc}}">
  <meta name="author" content="{{author}}">

  <style>
    body {
      background-color: #fff;
      color: #000;
      font-family: "Times New Roman", Times, serif;
    }

    .blog_title {
      text-align: center;
    }

    .entry {
      margin: auto;
      width: 50%;
      padding: 5px;
      border-bottom: 1px dotted #cecece;
    }

    .entry p:first-of-type {
      font-weight: bold;
      font-size: 1.25em;
    }

    .rss-link {
      margin: auto;
      width: 50%;
      padding: 5px;
      text-align: right;
    }

    .rss {
      padding: 0.3em 0.35em;
      border-radius: 0.25em;
      font-size: 0.75em;
      font-weight: bold;
    }

    .rss:link,
    .rss:visited,
    .rss:hover,
    .rss:active {
      color: #ffffff;
      text-decoration: none;
    }

    .rss:link,
    .rss:visited {
      background: #ff6600;
    }

    .rss:hover,
    .rss:active {
      background: #ff8822;
    }

    code {
      background: #f4f4f4;
      border: 1px solid #ddd;
      border-left: 3px solid #f36d33;
      color: #666;
      page-break-inside: avoid;
      font-family: monospace;
      font-size: 15px;
      line-height: 1.6;
      margin-bottom: 1.6em;
      max-width: 100%;
      overflow: auto;
      padding: 1em 1.5em;
      display: block;
      word-wrap: break-word;
      white-space: pre;
      border-radius: 0 5px 5px 0;
    }
  </style>
</head>

<body>
  <h1 class="blog_title">{{title}}</h1>
  <div class="rss-link"><a class="rss" href="./feed.rss">RSS</a></div>
  <!-- insert here -->
</body>

</html>
